# Core functionality - changes here should be rare!
/src/app.py                   @PalfanoPTG
/src/backend/database.py      @PalfanoPTG
/src/backend/routers/auth.py  @PalfanoPTG

# The frontend will need refactored soon to be more object oriented.
/src/static/   @PalfanoPTG
